.MBLsheet-print-viewList {
  position: relative;
  float: right;
  width: 126px;
  /* right: 222px; */
  height: 22px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
}

.MBLsheet-print-viewBtn {
  position: absolute;
  top: 0;
  left: 0px;
  width: 42px;
  height: 22px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.MBLsheet-print-viewBtn .iconfont {
  font-size: 22px;
}

.MBLsheet-print-viewBtn:hover {
  background: #e1e4e8;
}

.MBLsheet-print-viewBtn-active {
  background: #dcdcdc;
  cursor: default;
}

.MBLsheet-print-viewBtn-active:hover {
  background: #dcdcdc;
}

.MBLsheet-print-viewNormal {
  left: 0px;
}

.MBLsheet-print-viewLayout {
  left: 42px;
}

.MBLsheet-print-viewPage {
  left: 84px;
}
